.bg-dark {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    background-color: #f2f2f2;
  }
  
  .navbar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: left;
    justify-self: start;

  }
  
  .navbar-brand {
    font-size: 1.5rem;
    text-align: left;
    justify-content: start;
  }
  
  .navbar form {
    display: flex;
    justify-content: center;
  }
  
  .form-control {
    width: 400px;
  }
  
  .btn {
    margin-right: 20px;
  }
  
  .center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  from{
    justify-content: end;
  }
  